// Navigation Styles here
header {
    padding: 20px 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    nav {
        width: 45%;
        display: flex;
        justify-content: space-around;
        padding-right: 5px;


        a {
            font-size: 18px;
        }
    }
}